@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alegreya', serif;
}

@layer base {
  :root {
    --background: 28 65% 88%;
    --foreground: 24 9.8% 10%;
    --card: 28 65% 92%;
    --card-foreground: 24 9.8% 10%;
    --popover: 28 65% 92%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 0 100% 25%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 28 50% 85%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 28 50% 85%;
    --muted-foreground: 24 9.8% 20%;
    --accent: 34 50% 64%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 28 40% 80%;
    --input: 28 40% 80%;
    --ring: 34 50% 64%;
    --radius: 0.5rem;

    --chart-1: 0 100% 25%;
    --chart-2: 34 50% 64%;
    --chart-3: 20 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 28 65% 90%;
    --sidebar-foreground: 24 9.8% 10%;
    --sidebar-primary: 0 100% 25%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 28 65% 86%;
    --sidebar-accent-foreground: 24 9.8% 10%;
    --sidebar-border: 28 40% 80%;
    --sidebar-ring: 34 50% 64%;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 34 50% 64%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 100% 25%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 34 50% 64%;
    
    --chart-1: 34 50% 64%;
    --chart-2: 0 100% 25%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 34 50% 64%;
    --sidebar-primary-foreground: 24 9.8% 10%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 34 50% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
